@tailwind base;
@tailwind components;
@tailwind utilities;

/* apply style to base elements */
@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

/* apply styles to custom class */
@layer components {
  .btn-blue {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }

  /* 1. */
  .foo {
    color: blue !important;
  }

  /* 2. use foo here */
  .bar {
    @apply foo;
  }
}

@layer utilities {
  .filter-none {
    filter: none;
  }
  .filter-grayscale {
    filter: grayscale(100%);
  }
}
